@import 'tailwindcss';

.btn {
  background-color: #00b8db;
  outline-style: solid;
  outline-color: #00b8db;
  border-radius: 6px;
  transition: all;
  transition-duration: 0.2s;
}

.btn:hover {
  background-color: #232b30;
  cursor: pointer;
}

.form-empty {
  background-color: #b14a4a;
}

.form-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.backgr-p {
  background-color: #252e33;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
}

.page-cont {
  display: flex;
  flex-direction: column;
}

.medium-h {
  color: #00b8db;
  font-weight: 600;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-gray: #232b30;
  --color-lightgray: #252e33;
}

* {
  font-family: 'Nunito';
  /* background-color: #293338; */
}
